files:
  "/etc/systemd/system/php-fpm.service.d/restart.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Service]
      Restart=always
      RestartSec=5s
      OOMScoreAdjust=-500

  "/etc/php-fpm.d/www.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [www]
      user = webapp
      group = webapp
      listen = /var/run/php-fpm/www.sock
      listen.owner = webapp
      listen.group = webapp
      pm = dynamic
      pm.max_children = 10
      pm.start_servers = 2
      pm.min_spare_servers = 1
      pm.max_spare_servers = 3
      pm.max_requests = 500

commands:
  01_reload_systemd:
    command: "systemctl daemon-reload"
  02_restart_php_fpm:
    command: "systemctl restart php-fpm"