@use "variables" as *;
@use "sass:map";

@function get-transition-colors($timing) {
  @return (
    color $timing $transition-function,
    background-color $timing $transition-function,
    border-color $timing $transition-function,
    text-decoration-color $timing $transition-function,
    fill $timing $transition-function,
    stroke $timing $transition-function
  );
}

@function get-transitions($timing) {
  @return (
    "all": all $timing $transition-function,
    "colors": get-transition-colors($timing),
    "opacity": opacity $timing $transition-function,
    "shadow": box-shadow $timing $transition-function,
    "transform": transform $timing $transition-function
  );
}

$transition-map: ();
@each $speedKey, $timing in $transition-speeds {
  // make a transition class name with vlue
  $transitions: get-transitions($timing);

  $speed-map: ();
  @each $transitionKey, $transitionVal in $transitions {
    $speed-map-key: "";
    @if ($transitionKey == "all") {
      $speed-map-key: "transition-" + $speedKey;
    } @else {
      $speed-map-key: "transition-" + $transitionKey + "-" + $speedKey;
    }

    $speed-map: map.merge(
      $speed-map,
      (
        $speed-map-key: $transitionVal
      )
    );
  }

  $transition-map: map.merge($transition-map, $speed-map);
}

@each $k, $v in $transition-map {
  .#{$k} {
    transition: $v;
  }
}
