{# <div 
	class="search-block-form contextual-region max-tab:display-flex max-mob:mr-0 max-mob:justify-center  max-tab:grow-1 max-tab:justify-end max-tab:mr-3xl" 
	data-drupal-selector="search-block-form" 
	id="block-weightvest-running-search-form-narrow" 
	role="search"> #}
<div 
	class="search-block-form contextual-region tab:justify-end max-mob:justify-center max-tab:display-flex max-tab:grow-1 max-mob:right-3px mac-mob:position-relative tab:mr-lg" 
	data-drupal-selector="search-block-form" 
	id="block-weightvest-running-search-form-narrow" 
	role="search">

	<div 
		data-contextual-id="block:block=weightvest_running_search_form_narrow:langcode=en" data-contextual-token="kZxEfy74E4vwddqkIYhAode7_5wuU6rU3Hk5Ktwdp3w" 
		data-drupal-ajax-container="" 
		data-once="contextual-render" 
		class="contextual">

		<button class="trigger focusable visually-hidden" type="button" aria-pressed="false">
			Open configuration options
		</button>

			<ul class="contextual-links" hidden="">
				<li>
					<a href="/admin/structure/block/manage/weightvest_running_search_form_narrow?destination=/node/9">Configure block</a>
				</li>
				<li>
					<a href="/admin/structure/block/manage/weightvest_running_search_form_narrow/delete?destination=/node/9">Remove block</a>
				</li>
			</ul>

	</div>
      
	<form 
		class="display-flex items-center max-mob:right-3px max-mob:position-relative"
		action="/search/node" 
		method="get" 
		id="search-block-form" 
		accept-charset="UTF-8">

		<div 
			class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
			<label for="edit-keys" class="visually-hidden">Search</label>
			<input 
				title="Enter the terms you wish to search for." 
				data-drupal-selector="edit-keys" 
				type="search" 
				id="edit-keys" 
				name="keys" 
				value="" 
				size="15" 
				maxlength="128" 
				class="radius-xl border-default text-base px-md py-xs border-default border-md bg-background w-10 mr-xs max-mob:mr-0 max-mob:px-xs max-mob:sizing-border max-mob:text-md max-mob:position-relative max-mob:left-3px max-mob:w-9">
		</div>

		<div 
			data-drupal-selector="edit-actions" 
			class="form-actions js-form-wrapper form-wrapper" 
			id="edit-actions">

				<button type="submit" class="cursor-pointer text-xl w-3xl h-3xl text bg-background text-default transition-fast radius-full hover:text-orange tab:right-2px max-mob:position-relative  max-mob:w-2xl mac-mob:h-2xl max-mob:left-3px max-mob:ml-xs">
					<i class="fas fa-search"></i>
				</button>

		</div>

	</form>
</div>