#block-weightvest-running-banner {
  #banner-inner {
    // loaded class seems to fade in the video better than the built in
    // opacity-0 and opacity-100
    #banner-video {
      opacity: 0;
      z-index: 100;
      transition-delay: 250ms;

      &.loaded {
        opacity: 1;

        &.hide-me {
          opacity: 0;
        }
      }
    }

    #banner-title-and-overlay {
      opacity: 0;
      animation: fadeIn 2s ease-in forwards;
      background-color: rgba(0, 0, 0, 0.15);
      z-index: 500;

      .node-title {
        opacity: 0;
        animation: blurIn 1.5s ease-out forwards;
        animation-delay: 0.5s;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45);
        color: #fdfcf9;
        position: relative;
        bottom: 1.5rem;
        text-align: center;
        max-width: 80%;
        margin: auto;

        h1 {
          font-size: 4.5rem;
          line-height: 4.5rem;

          .running {
            font-size: 6.5rem;

            &:after {
              content: "";
              height: 4px;
              width: 99%;
              background-color: #85e892;
              display: block;
              box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.45);
              position: relative;
              bottom: 5px;
            }
          }
        }
      }
    }
  }

  #bnr-volume-and-play-btn {
    z-index: 500;

    #bnr-play-pause-button {
      svg {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
      }

      &:hover {
        opacity: 1; // guess I forgot this one in ssu!
      }
    }

    #bnr-sound-icon {
      svg {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
      }

      &:hover {
        opacity: 1; // guess I forgot this one in ssu
      }
    }

    #bnr-volume-container {
      &:hover {
        opacity: 1; // guess I forgot this one in ssu
      }

      #bnr-volume-outer {
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
        height: 29px;
        width: 47px;
        mask: url(#volume-mask);
        -webkit-mask: url(#volume-mask);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
      }

      #bnr-volume-inner {
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
        height: 25px;
        width: 41px;
        position: absolute;
        top: 3px;
        left: 4px;

        &:before {
          height: inherit;
          background-color: #fdfcf9; // couldn't do this via class
          content: "";
          display: block;
          width: var(--vol-width, 40%); // set on jQuery
        }
      }

      #bnr-sound-icon {
        .vol-icon {
          width: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  #block-weightvest-running-banner {
    #banner-inner {
      #banner-title-and-overlay {
        .node-title {
          h1 {
            font-size: 5rem;
            line-height: 5.5rem;

            &.large {
              font-size: 6.5rem;
              line-height: 7rem;
            }

            .running {
              font-size: 9.4rem;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(15px);
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateY(-5px);
  }
}
